<form action="answer" class="row mt-4">
  <div class="col-md-7">
    <input type="text" name="question" class="form-control" placeholder="advise me oh mighty coach">
  </div>
  <div class="col-md-3 mt-3 mt-md-0">
    <input type="submit" value="Ask!" class="btn btn-primary w-100">
  </div>
</form>
